<link rel="stylesheet" href="css/index.css" />
<br />
<div class="container">
  <h1>Student Information System</h1>
  <br />
  {{#if cond}}
    <h1>{{cond}}</h1>
  {{/if}}
  <br />
  <button ><a href="/admin_login">Admin</a></button>
  <br />
  <button ><a href="/student_login">Student</a></button>
</div>
